.social-icons {
    color:rgb(62, 200, 255);
}

.social-icons:hover{
    color: lightgreen;
}

@media only screen and (max-width: 650px) {
.text-decoration-none {
    display: none;
}

.fa-bars {
    display: none;
}

.social-icons {
    display: flex;
    flex-direction: column;
    color:rgb(62, 200, 255);
}

.social-icons:hover{
    color: lightgreen;
}

    .sidebar-container{
width: 25%;
    }
}